body {
    margin-top: 50px;
    padding: 10px;
    background-color: #ECF0F1;
}

.iv-vcenter td {
    vertical-align: middle !important;
}

.iv-logo {
    padding-bottom: 7px;
    padding-top: 7px;
}

.iv-container {
    background-color: #FFFFFF;
}

/*fix for smart-table*/
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}
