<form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="ok()">

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id" ng-model="event.id" readonly>
        </div>


        <div class="form-group">
            <label>title:</label>

            <input type="text" class="form-control" name="title" ng-model="event.title" ng-required="false" />
            <span class="error" ng-show="form.title.$error.minlength">Must be at least  characters.</span>
            <span class="error" ng-show="form.title.$error.maxlength">Must be at most  characters.</span>
        </div>

        <div class="form-group">
            <label>description:</label>

            <input type="text" class="form-control" name="description" ng-model="event.description" ng-required="false" />
            <span class="error" ng-show="form.description.$error.minlength">Must be at least  characters.</span>
            <span class="error" ng-show="form.description.$error.maxlength">Must be at most  characters.</span>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()"><span class="fa fa-times"></span>&nbsp;&nbsp; Cancel
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><span class="fa fa-floppy-o"></span>&nbsp;&nbsp; Save</button>
    </div>
</form>
