<h2>Events</h2>

<button class="btn btn-primary btn" ng-click="create()">
        <span class="fa fa-plus"></span>&nbsp;&nbsp;New Event
    </button>
<br>
<br>
<div class="table-responsive">
    <table class="table table-striped ev-vcenter">
        <thead>
            <tr>
                <th>Action</th>
                <th>ID</th>
                <th>title</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events">
                <td>
                    <button type="submit" ng-click="update(event.id)" class="btn btn-default" title="edit">
                        <span class="fa fa-pencil"></span>&nbsp;
                    </button>
                    <button type="submit" ng-click="delete(event.id)" class="btn btn-danger" title="delete">
                        <span class="fa fa-times"></span>&nbsp;
                    </button>
                </td>
                <td>{{event.id}}</td>

                <td>{{event.title }}</td>

                <td>{{event.description }}</td>
            </tr>
        </tbody>
    </table>
</div>
